*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body.index{
    
     background-image: url(../images/backgroundunsplash.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

/* .top{
    display: flex;
    align-items: center;
    height: 640px;
    justify-content: space-between;
    margin-top: 10%;
    transition: height 0.2s ease;
}

.top.active{
    height: 640px;
} */


.container{
position: relative;
max-width: 430px;
width: 100%;
background-color: #fff;
box-shadow: 5px 5px 5px transparent;
height:455px ;
margin-top: 5%;
border-radius: 6px;
}

.container>.logIn{
    padding: 50px;
}


.container>.logIn>.login-form>.title{
    font-size:30px;
    font-weight: 600;
    position: relative;
    right: 35%;
   
}

.logIn>.login-form>.title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.logIn>.login-form>form>.input{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    position: relative;

}


.logIn>.login-form>form>.input>input{
    height: 100%;
    width: 100%;
    padding: 0 35px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #4070f4;
    border-top: 2px solid white;
    border-radius: 5px;
    transition: all 0.3 ease;
    
}

.logIn>.login-form>form>.input>input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.logIn>.login-form>form>.input>i{
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 24px;
    
}

.logIn>.login-form>form>.input>input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.logIn>.login-form>form>.input>i.icon{
    left: 0;

}

.logIn>.login-form>form>.input>i.showEye{
    right: 0;
    padding-left: 90%;
}

.logIn .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.checkbox-content{
    accent-color: #4070f4;
}

.logIn a{
    text-decoration: none;
}

.logIn a:hover{
    text-decoration: underline;
}

.logIn .input-button{
    margin-top: 25px;
}

.logIn .input-button>input{
    padding: 10px 100px 10px 100px ;
    background-color: lightgray;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    
}

.logIn .input-button>input:hover{
    box-shadow: 3px 3px 3px royalblue;
}

.logIn .signup{
    margin-top: 20px;
    text-align: center;
}

.logIn .signup>span>a{
    color: royalblue;
    font-weight: 600;
}

/* Registration form */
.container-2{
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px transparent;
    max-height:700px ;
    border-radius: 6px;
    }
    
    .container-2>.logIn{
        padding: 50px;
    }
    
    .container-2>.logIn>.login-form>.title{
        font-size:30px;
        font-weight: 600;
        position: relative;
        right: 25%;
       
    }
    
    .logIn>.login-form>.title::before{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background-color: #4070f4;
        border-radius: 25px;
    }
    
    .logIn>.login-form>form>.input{
        margin-top: 40px;
        width: 100%;
        height: 50px;
        position: relative;
    
    }
    
    
    .logIn>.login-form>form>.input>input{
        height: 100%;
        width: 100%;
        padding: 0 35px;
        font-size: 16px;
        outline: none;
        border: none;
        border-bottom: 2px solid #4070f4;
        border-top: 2px solid white;
        border-radius: 5px;
        transition: all 0.3 ease;
        
    }
    
    .logIn>.login-form>form>.input>input:is(:focus, :valid){
        border-bottom-color: #4070f4;
    }
    
    .logIn>.login-form>form>.input>i{
        position:absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 24px;
        
    }
    
    .logIn>.login-form>form>.input>input:is(:focus, :valid) ~ i{
        color: #4070f4;
    }
    
    .logIn>.login-form>form>.input>i.icon{
        left: 0;
    }

    .logIn>.login-form>form>.input>i.showEye{
        right: 0;
        padding-left: 90%;
    }
    
    .logIn .checkbox-text{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }
    
    .checkbox-content{
        accent-color: #4070f4;
    }
    
    .logIn a{
        text-decoration: none;
    }
    
    .logIn a:hover{
        text-decoration: underline;
    }
    
    .logIn .input-button{
        margin-top: 25px;
    }
    
    .logIn .input-button>input{
        padding: 10px 100px 10px 100px ;
        background-color: lightgray;
        border: none;
        font-size: 18px;
        font-weight: 500;
        background-color: #4070f4;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        
    }
    
    .logIn .input-button>input:hover{
        box-shadow: 3px 3px 3px royalblue;
    }
    
    .logIn .signup{
        margin-top: 20px;
        text-align: center;
    }
    
    .logIn .signup>span>a{
        color: royalblue;
        font-weight: 600;
    }

    /* Property page styling */
    /* Styles for page file */

/* Navigation */
nav.page{
    background-image: url("../images/backgroundunsplash.jpg");
    padding: 0;
    justify-content: space-between;
    background-size: cover;
    opacity: 1.1;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-radius: 15px;
}

nav.page .begIn{
    text-align: center;
    padding: 20px 20px 0px ;
    color: #4070f4;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;
}



nav.page .begIn> span{
    color: gold;
}

nav.page>ul{
    border: 1px solid red;
    padding: 20px;

}

nav.page>ul>li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    font-size: medium;
    color: white;
    margin-right: 50px;
    
}

nav.page>ul>li.topOne{
margin-left:50%;

}


nav.page>ul>li.connect>button{
    border: 3px #4070f4;
    background-color:#4070f4;
    padding:  10px 20px;
    color: gold;
    border-radius:6px;
    cursor: pointer;
}
nav.page>div.topic{
    color: grey;
    display: flex;
    justify-content: space-around;
    
}

.page>.topic .hone{
    display: inline;
    justify-content:space-around;
    padding-bottom: 20px;
    margin-top: 50px;
}

.page>.topic .hTwo{
    display: inline;
    justify-content:space-around;
    padding-bottom: 20px;
    margin-top: 50px;
}

nav.page>div.topic>.hone .modern{
    color:gold;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    padding: 10px;
}

nav.page>div.topic>.hTwo #dollars{
    color: gold;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    padding: 10px;
    
}

nav.page>div.topic>h2#dollars>span{
    font-size: small;
    margin-left: 30px;
}

nav.page>div.topic>h2.modern,p{
 color: white;
 
}

nav.page>div.topic>p{
 padding: 0% 0% 5% 0%; 
 color: grey;  
}

/* Front section */ 

section.body{
    justify-content: space-between;
    max-width: 100%;
    border: 1px solid red;
}

section.body>img{
    height: 500px;
    margin-top: 30px;
    margin-left: 20px;
    max-width: 100%;
    border: 1px solid red;
    box-shadow: 5px 5px 5px #4070f4;
    border-radius: 15px 0px 15px 0px;

}

section.body>div.sect1{
    float: right;
    margin-top:70px;
    margin-right: 15%;
    font-size: 40px;
    
}

section.body>div.sect1>hr{
    margin-right: 70%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: grey;
    
}



section.body>div.sect1>h2.head{
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 0px 0px 0px;
    font-style: italic;
    font-weight: 100;
}

section.body>div.sect1>p.sect2{
    font-size: large;
    font-style: unset;
    color: gray;
    font-size: 25px;
}
section.body>div.sect1>button#sect3{
    padding: 10px;
    border-left: 15px;
    background-color:black;
    color: yellow;
    border-radius: 0px 15px 0px 15px;
    font-size: 20px;
    
}

/* Upper Part */
section.upperPart{
    margin: 10px;
    align-items: center;
    display: inline;
    border: 1px solid green;
}

section.upperPart>div>img{
    height: 220px;
}

section.upperPart>.detail{
    border-radius: 15px;
    box-shadow: 15px 15px 15px grey;
    font-size: 40px;
    font-weight: 200;
}

section.upperPart>.detail>div>i{
    display: flex;
    margin-right: 50%;

}


section.upperPart>div.Des{
    border-radius: 15px;
    box-shadow: 15px 15px 15px grey;
}

section.upperPart>div.Des>h4{
    font-size: 40px;
    font-weight: 200;
}

section.upperPart>div.Des>p{
    color: grey;
    margin-right: 50%;
    font-size: 20px;
}

section.upperPart>div.feature{
    border-radius: 15px;
    box-shadow: 15px 15px 15px grey;
    padding: 10px;
    margin-top:5px;
    font-size:auto ;
    justify-content: space-between;
    font-size: 20px;
   
}

section.upperPart>div.feature>.column{
    display: flex;
    padding: 10px;
    margin-top:5px;
    font-size:auto ;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
    flex-direction: row;

}


section.upperPart>div.feature>.column>div>p{
    color: black;
    align-items: center;
}


/* Middle Section */
section.similar{
    border-radius: 15px;
    box-shadow: 15px 15px 15px grey;
}

section.similar>div.slone>h3{
    font-weight: 200;
    font-size: 40px;
}

section.similar>div.pic>img{
height: 250px;
width: 450px;
}

/* back Section */
footer.back{
    border-radius: 15px;
    background-color: rgb(46, 30, 1);
    box-shadow: 5px 5px 5px grey;
}

footer.back>div.reality{
    display: flex;
    flex-direction: row;
}

footer.back>div.reality>h3{
color: white;
font-weight: 200;
font-size: 30px;

}

footer.back>div.reality>h3>span{
color: rgb(255, 145, 0);
margin-left: 40px;
}
footer.back>div.reality>button{
    margin-left: 60%;
    background-color: rgb(255, 174, 0);
    border-radius: 0px 15px 0px 5px;
    padding: 5px 15px 5px 15px;
}

footer.back>i{
    margin: 30px 30px 0px 30px;
    color: white;
}

footer.back>div.row{
    display: flex;
    padding: 10px;
    margin-top:5px;
    font-size:auto ;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
    flex-direction: row;
}