*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body{
    background-color: #4070f4;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container{
position: relative;
max-width: 430px;
width: 100%;
background-color: #fff;
box-shadow: 5px 5px 5px transparent;
height: 50%;
}

.container>.logIn{
    padding: 50px;
}

.container>.logIn>.title{
    font-size:30px;
    font-weight: 600;
    position: relative;
}

.logIn>.title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

